<%@ page import="forum.grails.Entry" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'entry.label', default: 'Entry')}"/>
    <title><g:message code="default.show.label" args="[entityName]"/></title>
</head>

<body>
<a href="#show-entry" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                            default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]"/></g:link></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="show-entry" class="content scaffold-show" role="main">
    <h1><g:message code="default.show.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <ol class="property-list entry">

        <g:if test="${entryInstance?.text}">
            <li class="fieldcontain">
                <span id="text-label" class="property-label"><g:message code="entry.text.label" default="Text"/></span>

                <span class="property-value" aria-labelledby="text-label"><g:fieldValue bean="${entryInstance}"
                                                                                        field="text"/></span>

            </li>
        </g:if>

        <g:if test="${entryInstance?.author}">
            <li class="fieldcontain">
                <span id="author-label" class="property-label"><g:message code="entry.author.label"
                                                                          default="Author"/></span>

                <span class="property-value" aria-labelledby="author-label"><g:link controller="user" action="show"
                                                                                    id="${entryInstance?.author?.id}">${entryInstance?.author?.encodeAsHTML()}</g:link></span>

            </li>
        </g:if>

        <g:if test="${entryInstance?.dateCreated}">
            <li class="fieldcontain">
                <span id="dateCreated-label" class="property-label"><g:message code="entry.dateCreated.label"
                                                                               default="Date Created"/></span>

                <span class="property-value" aria-labelledby="dateCreated-label"><g:formatDate
                        date="${entryInstance?.dateCreated}"/></span>

            </li>
        </g:if>

        <g:if test="${entryInstance?.lastUpdated}">
            <li class="fieldcontain">
                <span id="lastUpdated-label" class="property-label"><g:message code="entry.lastUpdated.label"
                                                                               default="Last Updated"/></span>

                <span class="property-value" aria-labelledby="lastUpdated-label"><g:formatDate
                        date="${entryInstance?.lastUpdated}"/></span>

            </li>
        </g:if>

        <g:if test="${entryInstance?.topic}">
            <li class="fieldcontain">
                <span id="topic-label" class="property-label"><g:message code="entry.topic.label"
                                                                         default="Topic"/></span>

                <span class="property-value" aria-labelledby="topic-label"><g:link controller="topic" action="show"
                                                                                   id="${entryInstance?.topic?.id}">${entryInstance?.topic?.encodeAsHTML()}</g:link></span>

            </li>
        </g:if>

    </ol>
    <g:form url="[resource: entryInstance, action: 'delete']" method="DELETE">
        <fieldset class="buttons">
            <g:link class="edit" action="edit" resource="${entryInstance}"><g:message code="default.button.edit.label"
                                                                                      default="Edit"/></g:link>
            <g:actionSubmit class="delete" action="delete"
                            value="${message(code: 'default.button.delete.label', default: 'Delete')}"
                            onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');"/>
        </fieldset>
    </g:form>
</div>
</body>
</html>
